:host{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  background: #1A385C;
  color: white;

  a.logo{
    color: white;
    border: 1px solid white;
    background: #FF5E12;
    padding: 4px;
    border-radius: 4px;
  }

  form{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid white;
  }

  nav{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid white;
  }
}
