:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  div{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
    padding: 20px;
    width: 150px;
    border-radius: 4px;
    background: white;

    button{
      background: #D8D4D3;
      border: none;
      border-radius: 4px;
      padding: 6px;
      margin: 16px 0;
      font-size: 0.8rem;
    }

    a{
      margin-bottom: 8px;
      font-size: 0.9rem;
      color: #20487A;

    &.logo{
        color: white;
        background: #FF5E12;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 10px;
      }
    }
  }
}



