:host {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;

  app-header{
    grid-area: header;
  }

  app-sidebar{
    grid-area: sidebar;
  }

  main{
    grid-area: main;
  }

  app-footer{
    grid-area: footer;
  }
  
  grid-template-areas:
  "header header"
  "sidebar main"
  "footer footer";
}