:host {
  // display: flex;
  // flex-direction: column;
  // flex: 1 1 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 50px;

  div{
    display: flex;
    flex-direction: row;
    background: pink;

    main {
      background: white;
    }
  }
}


