:host{
  display: inline-block;
  background: #1A385C;
  //padding: 20px;
  width: 160px;

  nav{
    ul{
      list-style-type: none;
      margin-top: 20px;

      li{
        cursor: pointer;
        padding: 8px 0 8px 30px;
        border-left: 3px solid #1A385C;

        &:hover{
          background: #20487A;
          border-left: 3px solid #FF5E12;
        }
        
        a{
          color: white;
          fonnt-size: 0.8rem;
          text-decoration: none;
        }
      }
    }
  }
}
