:host{
  background: #999;
  padding: 10px;
  width: 100px;

  nav{
    ul{
      list-style-type: none;

      li{
        margin-right: 20px;
        a{
          color: white;
        }
      }
    }
  }
}
