<nav>
  <ul>
    <li><a routerLink="/login"><mat-icon>login</mat-icon><span>Login</span></a></li>
    <li><a routerLink="/registration"><mat-icon>assignment_ind</mat-icon><span>Registration</span></a></li>
    <li><a routerLink="/dashboard"><mat-icon>dashboard</mat-icon><span>Dashboard</span></a></li>
    <li><a routerLink="/material-table"><mat-icon>table</mat-icon><span>Table</span></a></li>
    <li><a routerLink="/account-settings"><mat-icon>settings</mat-icon><span>Account</span></a></li>
  </ul>
</nav>