@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

//Custom Colors

$brand-blue: (
  50 : #e4e7eb,
  100 : #bac3ce,
  200 : #8d9cae,
  300 : #5f748d,
  400 : #3c5674,
  500 : #1a385c,
  600 : #173254,
  700 : #132b4a,
  800 : #0f2441,
  900 : #081730,
  A100 : #6a9aff,
  A200 : #3778ff,
  A400 : #0455ff,
  A700 : #004bea,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$brand-orange: (
  50 : #ffece3,
  100 : #ffcfb8,
  200 : #ffaf89,
  300 : #ff8e59,
  400 : #ff7636,
  500 : #ff5e12,
  600 : #ff5610,
  700 : #ff4c0d,
  800 : #ff420a,
  900 : #ff3105,
  A100 : #ffffff,
  A200 : #fff5f3,
  A400 : #ffc8c0,
  A700 : #ffb2a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-app-primary: mat-palette($brand-blue);
$custom-app-accent:  mat-palette($brand-orange);
//$custom-app-accent:  mat-palette($brand-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$custom-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$custom-app-theme: mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($custom-app-theme);

.alt-teal-theme{
  $teal-app-primary: mat-palette($mat-teal);
  $teal-app-accent:  mat-palette($mat-yellow);
  $teal-app-warn:    mat-palette($mat-red);
  $teal-app-theme: mat-light-theme($teal-app-primary, $teal-app-accent, $teal-app-warn);
  @include angular-material-theme($teal-app-theme);
}